# Business Data Analytics - Challenge

---

## Package Import

In [9]:
import pandas as pd
import numpy as np

import os

---

## Data Import

In [89]:
import_files = os.listdir("data/")
dateparse = lambda x: pd.datetime.strptime(x, '%d.%m.%Y')

In [90]:
for idx , file in enumerate(import_files):
    print("Import File: {} ".format(file))
    PATH = "data/" + file
    if idx>0:
        df2 = pd.read_csv(PATH,
            sep=";",
            decimal=",",
            thousands=".",
            parse_dates=['Datum'],
            date_parser = dateparse )
        df = df.append(df2)
    else:
        df = pd.read_csv(PATH,
            sep=";",
            decimal=",",
            thousands=".",
            parse_dates=['Datum'],
            date_parser = dateparse)
del df2

Import File: DE_Physikalischer Stromfluss_201506010000_201706012359_1.csv
Import File: DE_Physikalischer Stromfluss_201706020000_201906022359_1.csv

In [91]:
df.head(2)

,Datum,Uhrzeit,Physikalischer Nettoexport[MWh],Niederlande (Export)[MWh],Niederlande (Import)[MWh],Schweiz (Export)[MWh],Schweiz (Import)[MWh],Dänemark (Export)[MWh],Dänemark (Import)[MWh],Tschechien (Export)[MWh],...,Luxemburg (Export)[MWh],Luxemburg (Import)[MWh],Schweden (Export)[MWh],Schweden (Import)[MWh],Österreich (Export)[MWh],Österreich (Import)[MWh],Frankreich (Export)[MWh],Frankreich (Import)[MWh],Polen (Export)[MWh],Polen (Import)[MWh]
0,2015-06-01,00:00,-,3932,-0,145,-0,113,-385,912,...,-,-,1,-0,1394,-0,246,-0,1279,-0
1,2015-06-01,01:00,-,4014,-0,261,-0,63,-204,839,...,-,-,1,-0,1355,-0,66,-0,1142,-0

---

## Preprocessing

### 1. Columns Nameing and dTypes

In [92]:
# Combine Datum and Uhrzeit to Date
def create_datetime(row):
    date = row.Datum.strftime("%Y-%m-%d") + " " + row.Uhrzeit
    return date

df['Date'] = df.apply(lambda row: create_datetime(row), axis=1) 
df['Date'] = pd.to_datetime(df.Date,format="%Y-%m-%d %H:%M")
df = df.sort_values('Date').reset_index(drop=True)

# Reorder Columns in Header
cols = list(df)
cols.insert(0, cols.pop(cols.index('Date')))
df = df.loc[:, cols]
df.drop(['Datum','Uhrzeit'],axis=1,inplace=True)

In [87]:
df.head(2)

,Date,Physikalischer Nettoexport[MWh],Niederlande (Export)[MWh],Niederlande (Import)[MWh],Schweiz (Export)[MWh],Schweiz (Import)[MWh],Dänemark (Export)[MWh],Dänemark (Import)[MWh],Tschechien (Export)[MWh],Tschechien (Import)[MWh],Luxemburg (Export)[MWh],Luxemburg (Import)[MWh],Schweden (Export)[MWh],Schweden (Import)[MWh],Österreich (Export)[MWh],Österreich (Import)[MWh],Frankreich (Export)[MWh],Frankreich (Import)[MWh],Polen (Export)[MWh],Polen (Import)[MWh]
0,2015-06-01 00:00:00,-,3932,-0,145,-0,113,-385,912,-358,-,-,1,-0,1394,-0,246,-0,1279,-0
1,2015-06-01 01:00:00,-,4014,-0,261,-0,63,-204,839,-370,-,-,1,-0,1355,-0,66,-0,1142,-0

---

## Model Training

---